.img-container {
    width: 25rem;
}

.img-caption {
    overflow-wrap: break-word;
}

.images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.container {
    margin-bottom: 1rem;
}

.change-buttons {
    display: flex;
    justify-content: space-between;
}

.check-buttons {
    display: flex;
    flex-direction: column;
}

.check-buttons > button {
    margin-bottom: 0.5rem;
}

.changeAll-buttons {
    display: flex;
    align-items: center;
}

.pb10 {
    padding-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}